<div class="box">
    <div class="book-box">
        <img src="/book.png" alt="Harry Potter and the Sorcerer's Stone Book" class="book" >
        <div class="title_about">
            <h1>Harry Potter and the Sorcerer's Stone</h1>
            <h2>J. K. Rowling</h2>
            <p>Before Harry Potter even knew of Hogwarts, letters started appearing at 
                number four, Privet Drive. Written in green ink on yellowed parchment 
                and sealed with a purple emblem, they were quickly confiscated by his 
                unpleasant aunt and uncle. Then, on his eleventh birthday, a towering, 
                beetle-eyed man <span>...more.</span> </p>
        </div>
    </div>
    <div class="actions">
        <div class="likes">
            <img src="/Like.png" alt="Like button" class="button like">
            <p>49502</p>
        </div>
        <div class="dislikes">
            <img src="/Dislike.png" alt="Dislike button" class="button dislike">
            <p>290</p>
        </div>
        <p class="left pseudo-button">Add to Library</p>
        <p class="right pseudo-button">Similar Books</p>
    </div>
    <div class="comments">
        <div style="padding:4px; margin-top:5px;">Comments (124)</div>
        <div class="comment-box first">
            <p> <span>&#64;Plato102</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="comment-box ">
            <div class="vertical-line"></div>
            <p> <span>&#64;EBronte9123</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        </div>
        <div class="comment-box ">
            <div class="vertical-line"></div>
            <div class="vertical-line"></div>
            <p> <span>&#64;ThomasJeff23</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        </div>
        <div class="comment-box ">
            <p> <span>&#64;RosaP301</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
    </div>
</div>