<div class="login">
    <input type="text" name="username" placeholder="Phone number, email, or username">
    <input type="text" name="password" placeholder="Password">
    <button> Log in</button>
    <a>Forgot your password?</a>   
    <div class="or">
        <hr class="break">
        <div> OR </div> 
        <hr class="break">
    </div>
    <button class="loginApps"> Log in with Google</button>
    <button class="loginApps"> Log in with Apple</button>
</div>
<hr class="horizontal-line">
<div class="signup">
    <p>Don't have an account?</p>
    <button>Sign up</button>
</div>
<p class="terms">By signing up, you agree to the <a>Terms of Service</a> and <a>Privacy Policy</a>, 
    including Cookie Use.</p>


