.header {
    display:flex;
    background-color: #351a3a;
    padding: 12px;
    justify-content: space-between;
    align-items:center;
}

.brand, .links {
    color: #f0f2f5;
    padding:8px;
}

.links {
    font-size:14px;
}

.brand {
    font-size: 24px;
}

.pages {
    display:flex;
    justify-content: flex-end;
}